@model IEnumerable<IceCreamSystem.Models.EntryStock>

@{
    ViewBag.Controller = "Reports";
    ViewBag.Title = "Recent Entry Stock";
}

<div class="row">
    <div class="col-md-12">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div id="table_button" class="float-right w-50" style=" float: right;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-6 ">
                <div class="progress-group align-middle">
                    @ViewBag.Title
                    <span class="float-right ">
                        <b>@ViewBag.Count</b>
                        /@ViewBag.TotalCount
                    </span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @(ViewBag.Percent)%;" aria-valuenow="@ViewBag.Percent" aria-valuemin="0" aria-valuemax="100">@ViewBag.Percent %</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table id="example1" class="table table-bordered table-striped dataTable dtr-inline collapsed" style="width:100%" role="grid" aria-describedby="example1_info">
    <thead>
        <tr role="row">
            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                @Html.DisplayNameFor(model => model.Product.NameProduct)
            </th>
            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                @Html.DisplayNameFor(model => model.ProductBatch)
            </th>
            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                @Html.DisplayNameFor(model => model.FabicationDate)
            </th>
            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="sorting_1" tabindex="0">
                @Html.DisplayFor(modelItem => item.Product.NameProduct)
            </td>
            <td class="sorting_1" tabindex="0">
                @Html.DisplayFor(modelItem => item.ProductBatch)
            </td>
            <td class="sorting_1" tabindex="0">
                @Html.DisplayFor(modelItem => item.FabicationDate)
            </td>
            <td class="sorting_1" tabindex="0">
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td class="sorting_1" tabindex="0">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
        </tr>
        }
    <tbody>
</table>
