<div class="modal-dialog" role="document">

    <div class="modal-content">

        <div class="modal-header" style="background-color: #00CED1;">
            <h5 class="modal-title">@ViewBag.Title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div><!-- /.modal-header -->

        <div class="modal-body ">
            @RenderBody()
        </div><!-- /.modal-body -->

        <div class="modal-footer" style="background-color: #00CED1;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-12">

                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Cancelar</span></button>
                    @if (@ViewBag.Title == "Details" && ((int)@Session["permission"] == 1 || (int)@Session["permission"] == 2 || (int)@Session["permission"] == 3)) //superadmin or admin
                    {
                        <a class="btn btn-block bg-gradient-warning d-lg-inline" href="@Url.Action("Edit", @ViewBag.Controller, new { id = @ViewBag.Id })"> Edit </a>
                    }
                    else if (@ViewBag.Title != "Details" && @ViewBag.Title != "Payment" && @ViewBag.Title != "Sale")
                    {
                        <input type="submit" value="@ViewBag.Title" class="btn btn-@ViewBag.Btn" />
                    }
                </div>
            </div>
            }
        </div><!-- /.modal-footer -->

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
