@model IceCreamSystem.Models.Phone

<div class="form-horizontal">

    <div class="input-group">

        <div class="form-group col-md-4">
            <div class="font-weight-bold">
                @Html.DisplayNameFor(model => model.TypePhone)
            </div>
            <div>
                @Html.DisplayFor(model => model.TypePhone)
            </div>
        </div>

        <div class="form-group col-md-2">
            <div class="font-weight-bold">
                @Html.DisplayNameFor(model => model.DDD)
            </div>
            <div>
                @Html.DisplayFor(model => model.DDD)
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="font-weight-bold">
                @Html.DisplayNameFor(model => model.Number)
            </div>
            <div>
                @Html.DisplayFor(model => model.Number)
            </div>
        </div>
    </div>
</div>
